<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.cloud.cop.dao.mapper.ProjectJavaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kt.cloud.cop.dao.entity.ProjectJava">
        <result column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="project_id" property="projectId" />
        <result column="type" property="type" />
        <result column="build_mode" property="buildMode" />
        <result column="group_id" property="groupId" />
        <result column="artifact_id" property="artifactId" />
        <result column="package_name" property="packageName" />
        <result column="jdk_version" property="jdkVersion" />
    </resultMap>
</mapper>
