<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <typeAliases>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/><!-- 单独使用时配置成MANAGED没有事务 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cop?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;tinyInt1isBit=false&amp;serverTimezone=Asia/Shanghai&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=True"/>
                <property name="username" value="root"/>
                <property name="password" value="Root1234!@#$"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
<!--        <package name="com.kt.cloud.eop.dao.mapper.xml"/>-->
        <mapper resource="com/kt/cloud/cop/dao/mapper/xml/ProjectBasicMapper.xml"/>
<!--        <mapper resource="BlogMapperExt.xml"/>-->
    </mappers>

</configuration>